::after, ::before{
    box-sizing: border-box;
}

div {
    display: block;
    unicode-bidi: isolate;
}

footer{
    display: block;
    unicode-bidi: isolate;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

p {
    line-height: 1.7em;
    margin-block-start: 0;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.site-footer{
    border-top: 1px solid #3461ac;
    display: block;
    overflow: hidden;
    font-size: 12px;
    content-visibility: auto;
    contain-intrinsic-size: 370px;
    position: relative;
}

.site-footer-content{
    position: relative;
    padding-top: 3rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.footer-box {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.veu_profile .profile {
    overflow: hidden;
}

.veu_profile .media_outer {
    position: relative;
    display: block;
    overflow: hidden;
    margin:  .8em 0 .8em;
    box-sizing: border-box;
}

.veu_profile .media_outer img {
    max-width: 100%;
    height: auto;
}

.veu_profile .profile_text {
    margin-bottom: 1em;
    font-size: 14px;
}

.site-footer-copyright {
    padding: 1rem;
}