* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-logo img {
    height: 40px;
}

.navbar-menu {
    display: flex;
    list-style: none;
}

.navbar-item {
    margin-left: 20px;
}

.navbar-item a {
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    transition: background-color 0.3s;
}

.navbar-item a:hover,
.navbar-item.active a {
    background-color: #575757;
    border-radius: 4px;
}

.navbar-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
}

@media (max-width: 768px) {
    .navbar{
        justify-content: flex-start;
    }

    .navbar-logo{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: #333;
    }

    .navbar-menu.active {
        display: flex;
    }

    .navbar-item {
        margin: 10px 0;
    }

    .navbar-toggle {
        display: block;
    }
}
