* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: justify-content 0.3s, left 0.3s;
}

.navbar-logo {
    margin-right: auto;
    top: 20px;
    left: 80px;
    z-index: 1000;
    transition: left 0.3s, transform 0.3s;
}

.navbar-logo img {
    height: 40px;
}

.navbar-menu {
    display: flex;
    list-style: none;
}

.navbar-item {
    margin-left: 20px;
    text-align: center;
    position: relative;
}

.navbar-item a {
    color: black;
    text-decoration: none;
    padding: 8px 12px;
    display: block;
    line-height: 1.2;
}

.navbar-subtext {
    display: block;
    font-size: 0.8em;
    color: #ccc;
    transition: color 0.3s;
}

.navbar-item a:hover .navbar-subtext,
.navbar-item.active a .navbar-subtext {
    color: black;
}

.navbar-item a::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: #ADD8E6;
    transition: width 0.3s;
    position: relative;
    top: 2px;
}

.navbar-item a:hover::after,
.navbar-item.active a::after {
    width: 100%;
}

.navbar-toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1001;
    display: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.navbar.scrolled {
    justify-content: center;
}

.navbar.scrolled .navbar-logo {
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 922px) {
    .navbar {
        justify-content: space-between;
    }

    .navbar-logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .navbar-logo.hidden {
        display: none;
    }

    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: left;
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .navbar-menu.active {
        display: flex;
        animation: slideDown 0.5s ease-in-out;
    }

    .navbar-item {
        margin: 10px 0;
    }

    .navbar-toggle {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        display: block;
    }

    .navbar-toggle::before {
        content: '\2630';
        font-size: 24px;
    }

    .navbar-toggle.active::before {
        content: '\2715';
    }

    .navbar-menu {
        display: none;
    }

    .navbar-menu.active {
        display: flex;
        flex-direction: column;
    }

    .navbar-item a {
        color: black;
        text-decoration: none;
        padding: 8px 12px;
        display: block;
    }

    .navbar-subtext {
        display: block;
        font-size: 0.8em;
        color: #ccc;
        transition: color 0.3s;
    }

    .navbar-item a:hover .navbar-subtext,
    .navbar-item.active a .navbar-subtext {
        color: black;
    }

    .navbar-item a::after {
        content: '';
        display: block;
        width: 0;
        height: 1px;
        background-color: #ADD8E6;
        transition: width 0.3s;
        position: relative;
        top: 2px;
    }

    .navbar-item a:hover::after,
    .navbar-item.active a::after {
        width: 100%;
    }
}
